.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header-section{
  height: 80px;
  box-shadow: 1px 1px 1px #e6e2e2;
}

nav{
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ul{
  text-decoration: none;
  list-style-type: none;
}
li {
  display: inline-block;
  padding: 0px 10px;
}

.Search-button{
  border: 0;
  height: 34px;
  width: 350px;
  /* border: 1px solid #dbd9d9; */
  border-radius: 4px;
  background-color: #e5e5e5;
  padding: 4px 10px;
}
.Cart-section{
  display: flex;
  column-gap: 10px;
  width: 300px;
  justify-content: center;
}
.Sort-header{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}
.Bread-crum{
  height: 150px;
  padding: 0px 16px;
}
.ProductFilter{
  display: flex;
  border-top: 1px solid #d3d1d1;
}
.FilterList{
  width: 200px;
  border-right: 1px solid #d3d1d1;
  height: 100vh;
}
.Category{
  border-bottom: 1px solid #d3d1d1;
  padding-left: 10px;
}
.Brand{
  border-bottom: 1px solid #d3d1d1;
  padding-left: 10px;
}
.Price{
  border-bottom: 1px solid #d3d1d1;
  padding-left: 10px;
}
.Color{
  border-bottom: 1px solid #d3d1d1;
  padding-left: 10px;
}
.ColorItemSec{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  column-gap: 4px;
}
.Color div p{
  display: inline-block;
  /* vertical-align: middle; */
}
.Color-item{
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.ProductList{
  width: 900px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.ProductItem{
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.ProductItem:hover{
  box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
}
.Product-image img{
  width: 100%;
  height: 210px;
}
.Product-info{
  padding: 10px;
  /* display: flex;
  column-gap: 4px; */
}
.Product-price-section{
  display: flex;
  column-gap: 20px;
}

